# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [ ]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [ ]:
# Select the 'Limit' and 'Rating' columns of the first five observations
Limit_and_Rate = balance_df[['Limit', 'Rating']]
Limit_and_Rating.sample(5)

In [ ]:
# Select the first five observations with 4 cards
Four_Cards = balance_df[balance_df['Cards'] == 4]
Four_Cards.sample(5)

In [ ]:
# Sort the observations by 'Education'. Show users with a high education value first.
Education_Sorted = balance_df.sort_values(by='education', ascending=False)

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# selecting information from all rows and all columns
df.iloc[:,:]

In [ ]:
# selecting information starting fromthe fifth row and selecting only infromation from column 5
df.iloc[5:,5:]

In [ ]:
# selecting information from all rows but only from the first column (balance)
df.iloc[:,0]

In [ ]:
# selecting information from row 9 only from all columns
df.iloc[9,:]